
  .cards{
    display: flex;
  }

  .card11 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 30%;
    max-width: 300px;
    height: 200px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.img1{
    width: 80px;
    height: 80px;
    padding-bottom: 40px;
}

.text1 {
    font-size: 20px;
    font-weight: 550;
    
}
.text2{
    color: rgb(54, 52, 52);
    font-size: 14px;
    margin-top: 5px;
}

.text3{
    color: rgb(85, 83, 83);
    font-size: 14px;
    margin-top: 45px;
}

.text4{
    color: rgb(20, 19, 19);
    font-size: 16px;
    margin-top: 0;
}

.card21 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 70%;
    max-width: 300px;
    height: 40px;
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 20px;
}

.card31 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 70%;
    max-width: 300px;
    height: 110px;
    /* text-align: center; */
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: middle;
}

.container2 {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    max-width: 400px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    font-weight: 550;
    font-size: 20px;
  
  }

  .container2 p{
    margin-left: 60px;
    font-size: 15px;
    color: #534d4d;
    font-weight: 300;
  }



  @media screen and (min-width: 1024px) {
 
     
    .aboutphone-conainer{
      width: 30%;
      height: 103%;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
    }
  

  }