.heading{
    color: rgb(54, 52, 52);
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 200;
    
  }

  .card1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.inCard1{
    margin-left: 10px;
    margin-top: 10px;
}
.inCard2{
    margin-left: 60px;
    margin-top: 10px;
}

.inCard3{

    margin-top: 10px;
    
    
}

.card2 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}



.card4 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 30%;
    max-width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.card5 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 30%;
    max-width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.cards{
    display: flex;
  }


  .card6 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}


.container {
    display: block;
    align-items: center;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    max-width: 400px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
  
  }

  .container p{
    margin-left: 0px;
    margin-top: 0px;
    font-size: 14px;
    color: #534d4d;
    font-weight: 300;
  }