.volume-container4 {
    display: flex;
    align-items: center;
    height: 30px;
    
  }
  
  .volume-bar4 {
    background-color: #bdc3c7;
    height: 25px;
    width: 90%;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .volume-fill4 {
    background-color: #3498db;
    height: 100%;
    border-radius: 5px;
    width: 30%;
    position: absolute;
    transition: width 0.2s ease;
    border-radius: 15px;
  }




  @media screen and (min-width: 1024px) {
 
     
    .brightness-level-conainer{
      width: 30%;
      height: 103%;
      position: absolute;
      top: 55%;
      left: 50%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
    }
  

  }