.default-launcher {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    

}


.selected {
    border: 5px solid rgb(54, 137, 247);
    font-size: 20px;
    color: rgb(54, 137, 247);;
    padding-bottom: 10px;
    
  }




  @media screen and (min-width: 1024px) {
 
     
    .default-launcher-conainer{
      width: 30%;
      height: 105%;
      position: absolute;
      top: 55%;
      left: 50%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
    }
  

  }