




@media screen and (min-width: 1024px) {
 
     
    .googlebackup-container{
        width: 30%;
        height: 60%;
        position: absolute;
        top: 30%;
        left: 50%;
        border-radius: 20px;
        align-items: center;
       
        justify-content: center;
        transform: translate(-50%, -50%);
    }
  

  }