.mobile-restore {
    
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    display: inline-flex;
}
.mobile-restore img{
    width: 30px;
    height: 30px;
    
}


.button-container {
    text-align: center;
}

.round-button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.round-button:hover {
    background-color: #0065b8;
}



@media screen and (min-width: 1024px) {
 
     
    .localmoboile-container{
        width: 30%;
        height: 120%;
        position: absolute;
        top: 60%;
        left: 50%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
    }
  

  }