.choose-notif-ring {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    

}
.selected {
    border: 5px solid rgb(54, 137, 247);
    font-size: 19px;
    color: rgb(3, 101, 228);;
    
  }
