.pass-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 130px;
    max-width: 300px;
    height: 70px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

/* .pass-card img{
    width: 70px;
    height: 70px;
    padding-bottom: 30px;
} */



.moving-text {
    position: relative;
    right: 10%; 
    transform: translate(0, -50%); 
    white-space: nowrap; 
    animation: moveText 5s linear infinite; 
    margin-top: 10px;
    font-size:18px;
    font-weight:550;
}

@keyframes moveText {
    0% {
        right: 5%; /* Start from the right edge */
    }
    100% {
        right: 100%; /* Move to the left edge */
    }
}



@media screen and (min-width: 1024px) {
 
     
    .password-security-conainer{
      width: 30%;
      height: 125%;
      position: absolute;
      top: 65%;
      left: 50%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
    }
  

  }