.choose-silent-option {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    max-width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    

}
.selected {
    border: 5px solid rgb(54, 137, 247);
    font-size: 19px;
    color: rgb(3, 101, 228);;
    
  }






  @media screen and (min-width: 1024px) {
 
     
    .silent-dnd-conainer{
      width: 30%;
      height: 120%;
      position: absolute;
      top: 65%;
      left: 50%;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%);
    }
  

  }