.search-bar-container {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    width: 320px;
    
  }
  
  .search-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
   
    border-bottom: 1px solid #ccc;
    
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .search-results li {
    cursor: pointer;
    padding: 5px;
    
    border: 1px solid #ddd;
    border-radius: 10px;
     margin-left: 10px; 
    margin: 5px 0;
    transition: background-color 0.2s;
  }
  
  .search-results li:hover {
    background-color: #e0e0e0;
  }
  